<%- include('header', { title: 'Edit Post' }) %>

<div class="flex items-center justify-center py-12 px-4">
    <div class="bg-transparent p-10 rounded-xl shadow-2xl w-full max-w-md border border-zinc-700 transform transition-all duration-300 hover:scale-105">
        <h4 class="text-4xl font-extrabold mb-8 text-center text-white">upload profile Picture</h4>
        <form action="/profileUpload" method="POST" class="space-y-6" enctype="multipart/form-data">
            <input type="file" name="image">
            <button type="submit" value="Update Post" class="w-full bg-purple-600 hover:bg-purple-700 text-white font-bold py-5 px-6 rounded-lg cursor-pointer transition duration-200 shadow-lg text-xl uppercase tracking-wider"> upload file</button>
        </form>
    </div>
</div>

<%- include('footer') %>
